<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        声明对象
        spring根据ID，class创建对象，把对象放入spring的一个map集合中。map.put(id,对象)
     -->
    <bean id="someService" class="service.impl.SomeServiceImpl"/>

</beans>