<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 声明目标对象-->
    <bean id="someService3" class="service.serviceImpl.SomeService3Impl"/>


    <!-- 声明切面类对象 -->
    <bean id="myAspectAround" class="MyAspects.MyAspectAround"/>


    <aop:aspectj-autoproxy/>


</beans>