<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="zhujie.three"/>
    <context:property-placeholder location="classpath:/myconf.properties"/>

    <bean id="school" class="zhujie.three.School">
        <property name="name" value="广州大学"></property>
        <property name="address" value="广州"></property>
    </bean>
    

</beans>